* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-board {
  display: inline-grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: #dad5d2;
  cursor: pointer;
}

.button-container {
  padding: 20px;
}

.button-container > button {
  padding: 5px;
}

.endgame-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  backdrop-filter: blur(5px);
  z-index: 5;
}

.notification-container {
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  background-color: blue;
  z-index: 1;
}

.hidden {
  display: none;
}